# COVID BRASIL

## Imports

In [1]:
import pandas as pd

## Read data

In [2]:
# dataset = pd.read_csv('dados/HIST_PAINEL_COVIDBR_04fev2021.csv', sep=';')
# dataset

,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos,Recuperadosnovos,emAcompanhamentoNovos,interior/metropolitana
0,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-25,9,210147125.0,0,0,0,0,NaN,NaN,NaN
1,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-26,9,210147125.0,1,1,0,0,NaN,NaN,NaN
2,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-27,9,210147125.0,1,0,0,0,NaN,NaN,NaN
3,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-28,9,210147125.0,1,0,0,0,NaN,NaN,NaN
4,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-29,9,210147125.0,2,1,0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1770850,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2021-01-31,5,3015268.0,277110,538,4554,9,NaN,NaN,1.0
1770851,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2021-02-01,5,3015268.0,277907,797,4564,10,NaN,NaN,1.0
1770852,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2021-02-02,5,3015268.0,278316,409,4573,9,NaN,NaN,1.0
1770853,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2021-02-03,5,3015268.0,278972,656,4582,9,NaN,NaN,1.0
1770854,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2021-02-04,5,3015268.0,279402,430,4591,9,NaN,NaN,1.0

In [3]:
# dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1770855 entries, 0 to 1770854
Data columns (total 17 columns):
 #   Column                  Dtype
---  ------                  -----
 0   regiao                  object
 1   estado                  object
 2   municipio               object
 3   coduf                   int64
 4   codmun                  float64
 5   codRegiaoSaude          float64
 6   nomeRegiaoSaude         object
 7   data                    object
 8   semanaEpi               int64
 9   populacaoTCU2019        float64
 10  casosAcumulado          int64
 11  casosNovos              int64
 12  obitosAcumulado         int64
 13  obitosNovos             int64
 14  Recuperadosnovos        float64
 15  emAcompanhamentoNovos   float64
 16  interior/metropolitana  float64
dtypes: float64(6), int64(6), object(5)
memory usage: 229.7+ MB

## Dados só Brasil

In [8]:
# brasil_data = dataset.loc[dataset['regiao'] == 'Brasil']
# brasil_data

,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos,Recuperadosnovos,emAcompanhamentoNovos,interior/metropolitana
0,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-25,9,210147125.0,0,0,0,0,NaN,NaN,NaN
1,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-26,9,210147125.0,1,1,0,0,NaN,NaN,NaN
2,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-27,9,210147125.0,1,0,0,0,NaN,NaN,NaN
3,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-28,9,210147125.0,1,0,0,0,NaN,NaN,NaN
4,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-29,9,210147125.0,2,1,0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
343,Brasil,NaN,NaN,76,NaN,NaN,NaN,2021-01-31,5,210147125.0,9204731,27756,224504,559,8027042.0,953185.0,NaN
344,Brasil,NaN,NaN,76,NaN,NaN,NaN,2021-02-01,5,210147125.0,9229322,24591,225099,595,8077967.0,926256.0,NaN
345,Brasil,NaN,NaN,76,NaN,NaN,NaN,2021-02-02,5,210147125.0,9283418,54096,226309,1210,8160929.0,896180.0,NaN
346,Brasil,NaN,NaN,76,NaN,NaN,NaN,2021-02-03,5,210147125.0,9339420,56002,227563,1254,8236864.0,874993.0,NaN
347,Brasil,NaN,NaN,76,NaN,NaN,NaN,2021-02-04,5,210147125.0,9396293,56873,228795,1232,8291763.0,875735.0,NaN

In [10]:
#brasil_data.to_csv('dados/covid_brasil.csv', sep=';', index=False )
dataset = pd.read_csv('dados/covid_brasil.csv', sep=';')
dataset

In [11]:
brasil_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 348 entries, 0 to 347
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   regiao                  348 non-null    object
 1   estado                  0 non-null      object
 2   municipio               0 non-null      object
 3   coduf                   348 non-null    int64
 4   codmun                  0 non-null      float64
 5   codRegiaoSaude          0 non-null      float64
 6   nomeRegiaoSaude         0 non-null      object
 7   data                    348 non-null    object
 8   semanaEpi               348 non-null    int64
 9   populacaoTCU2019        348 non-null    float64
 10  casosAcumulado          348 non-null    int64
 11  casosNovos              348 non-null    int64
 12  obitosAcumulado         348 non-null    int64
 13  obitosNovos             348 non-null    int64
 14  Recuperadosnovos        294 non-null    float64
 15  emAcompanhamentoNovos   294 non-null    float64
 16  interior/metropolitana  0 non-null      float64
dtypes: float64(6), int64(6), object(5)
memory usage: 48.9+ KB

In [23]:
brasil_data.isna()

,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos,Recuperadosnovos,emAcompanhamentoNovos,interior/metropolitana
0,False,True,True,False,True,True,True,False,False,False,False,False,False,False,True,True,True
1,False,True,True,False,True,True,True,False,False,False,False,False,False,False,True,True,True
2,False,True,True,False,True,True,True,False,False,False,False,False,False,False,True,True,True
3,False,True,True,False,True,True,True,False,False,False,False,False,False,False,True,True,True
4,False,True,True,False,True,True,True,False,False,False,False,False,False,False,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
343,False,True,True,False,True,True,True,False,False,False,False,False,False,False,False,False,True
344,False,True,True,False,True,True,True,False,False,False,False,False,False,False,False,False,True
345,False,True,True,False,True,True,True,False,False,False,False,False,False,False,False,False,True
346,False,True,True,False,True,True,True,False,False,False,False,False,False,False,False,False,True
347,False,True,True,False,True,True,True,False,False,False,False,False,False,False,False,False,True

## Remove nan data

In [29]:
data = brasil_data[[
    'regiao',
    'data',
    'populacaoTCU2019',
    'casosAcumulado',
    'casosNovos',
    'obitosAcumulado',
    'obitosNovos',
]]

brasil_clear_data = pd.DataFrame(data.fillna(0))
brasil_clear_data

,regiao,data,populacaoTCU2019,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos
0,Brasil,2020-02-25,210147125.0,0,0,0,0
1,Brasil,2020-02-26,210147125.0,1,1,0,0
2,Brasil,2020-02-27,210147125.0,1,0,0,0
3,Brasil,2020-02-28,210147125.0,1,0,0,0
4,Brasil,2020-02-29,210147125.0,2,1,0,0
...,...,...,...,...,...,...,...
343,Brasil,2021-01-31,210147125.0,9204731,27756,224504,559
344,Brasil,2021-02-01,210147125.0,9229322,24591,225099,595
345,Brasil,2021-02-02,210147125.0,9283418,54096,226309,1210
346,Brasil,2021-02-03,210147125.0,9339420,56002,227563,1254
347,Brasil,2021-02-04,210147125.0,9396293,56873,228795,1232